@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --foreground: #000000;
  --primary: #34c759;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    var(--font-pretendard),
    system-ui,
    -apple-system,
    sans-serif;
}

.react-calendar {
  font-family: var(--font-pretendard) !important;
  border-radius: 10px;
  width: 100% !important;
  border: 1px solid var(--primary) !important;
}

.react-calendar__tile--active {
  background-color: whitesmoke !important;
  border: 1px solid var(--primary) !important;
}
.react-calendar__tile--active > abbr {
  color: black !important;
}
.react-calendar__month-view__days__day--weekend:nth-child(1n) > abbr {
  color: red !important;
}
.react-calendar__month-view__days__day--weekend:nth-child(7n) > abbr {
  color: blue !important;
}
.react-calendar__month-view__days__day--neighboringMonth > abbr {
  color: gray !important;
}

.react-calendar__month-view__days__day {
  border-radius: 5px;
  height: 76px;
  padding: 3px !important;
}
